<div class="bg-gray-900/50 rounded-lg shadow-lg p-6">
  <h3 class="text-2xl font-semibold text-clifford mb-4">Path of Inventory</h3>
  
  <p class="text-gray-300 mb-4">
  A common frustration among Path of Exile players is the time spent manually moving items from their inventory into their stash. Path of Inventory was created to address this issue by automating the process. This tool aimed to help players organize, optimize, and manage their in-game inventory more efficiently.

      Unfortunately, the project is no longer maintained or functional. However, it served as an interesting experiment to automate the categorization of items, track valuable resources, and offer insightful data about your stash, all aimed at improving inventory management.

      While the project demonstrated the potential for streamlining inventory management, it was never intended for legitimate use within the game. Due to its violation of Path of Exile's Terms of Service, it was more of a proof of concept rather than a tool for actual gameplay.  </p>

  <h4 class="text-xl font-semibold text-clifford mb-2">Features:</h4>
  <ul class="list-disc list-inside text-gray-300 mb-6">
    <li>Item categorization for easier identification and use.</li>
    <li>Quickly move items in your player inventory to their respective stash tabs.</li>
  </ul>


  <h4 class="text-xl font-semibold text-clifford mb-2">GitHub Repository:</h4>
  <a href="https://github.com/jck4/pathofinventory" target="_blank" class="text-purple-400 hover:text-purple-300">Visit the GitHub repository for more details</a>
</div>
