<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
      @theme {
        --color-clifford: #da373d;
      }
    </style>
  </head>
  <!-- Body with a darker, cyberpunk-inspired gradient -->
  <body class="bg-gradient-to-br from-gray-900 via-purple-900 to-black min-h-screen text-gray-100">


    <!-- Main Content Area -->
    <div class="container mx-auto px-4 py-8">
      <%= yield %>
    </div>
  </body>
</html>
